@use '../utils/utils' as *;

.footer {
  text-align: center;
  background-color: $dark-bg;
  color: $accent-color;
  padding: 2rem 1rem;
  font-size: 1rem;
  border-top: 2px solid $accent-color;
  margin-top: 2rem;

  p {
    margin: 0;
    font-family: $font-stack;
  }
}
