@use 'utils/utils';
@use 'base/resets';
@use 'base/base';
@use 'blocks/header';
@use 'blocks/introBanner';
@use 'blocks/askmav';
@use 'blocks/projectCard';
@use 'blocks/skills';
@use 'blocks/resume';
@use 'blocks/contact';
@use 'blocks/footer';
